# 4.2.2 データの読み込み・書き込み

In [1]:
import pandas as pd
df = pd.read_csv("data/201704health.csv", encoding="utf-8")
df

            日付     歩数  摂取カロリー
0   2017-04-01   5439    2500
1   2017-04-02   2510    2300
2   2017-04-03  10238    1950
3   2017-04-04   8209    1850
4   2017-04-05   9434    1930
5   2017-04-06   7593    1800
6   2017-04-07   9320    1940
7   2017-04-08   4873    2300
8   2017-04-09  12045    1950
9   2017-04-10   7493    1850
10  2017-04-11   7289    1930
11  2017-04-12   6481    2300
12  2017-04-13  10287    1800
13  2017-04-14   8043    1940
14  2017-04-15   7435    2300
15  2017-04-16   7529    2300
16  2017-04-17   8031    1940
17  2017-04-18   8475    2300
18  2017-04-19   8132    1950
19  2017-04-20  15328    1800
20  2017-04-21  12849    1940
21  2017-04-22   4029    2300
22  2017-04-23   3890    1950
23  2017-04-24   8093    1850
24  2017-04-25   7823    1950
25  2017-04-26   7492    1850
26  2017-04-27   7203    1930
27  2017-04-28   7302    1850
28  2017-04-29   6033    2300
29  2017-04-30   4093    1950

In [2]:
df = pd.read_excel("data/201704health.xlsx")
df

            日付     歩数  摂取カロリー
0   2017-04-01   5439    2500
1   2017-04-02   2510    2300
2   2017-04-03  10238    1950
3   2017-04-04   8209    1850
4   2017-04-05   9434    1930
5   2017-04-06   7593    1800
6   2017-04-07   9320    1940
7   2017-04-08   4873    2300
8   2017-04-09  12045    1950
9   2017-04-10   7493    1850
10  2017-04-11   7289    1930
11  2017-04-12   6481    2300
12  2017-04-13  10287    1800
13  2017-04-14   8043    1940
14  2017-04-15   7435    2300
15  2017-04-16   7529    2300
16  2017-04-17   8031    1940
17  2017-04-18   8475    2300
18  2017-04-19   8132    1950
19  2017-04-20  15328    1800
20  2017-04-21  12849    1940
21  2017-04-22   4029    2300
22  2017-04-23   3890    1950
23  2017-04-24   8093    1850
24  2017-04-25   7823    1950
25  2017-04-26   7492    1850
26  2017-04-27   7203    1930
27  2017-04-28   7302    1850
28  2017-04-29   6033    2300
29  2017-04-30   4093    1950

In [3]:
url = "https://ja.wikipedia.org/wiki/%E3%83%88%E3%83%83%E3%83%97%E3%83%AC%E3%83%99%E3%83%AB%E3%83%89%E3%83%A1%E3%82%A4%E3%83%B3%E4%B8%80%E8%A6%A7"
tables = pd.read_html(url)

In [4]:
len(tables)

40

In [5]:
df = tables[4]
df

,0,1,2,3,4,5,6,7
0,Name,Entity,Explanation,Notes,IDN,DNSSEC,SLD,IPv6
1,.ac,アセンション島,NaN,広く学術的なサイト（大学など）のために用いられる。アセンション島はイギリス領であるが、イギリ...,Yes,Yes,Yes,Yes
2,.ad,アンドラ,NaN,アンドラにおける商標または市民権が必要となる[6][7]。,NaN,Yes,Yes,NaN
3,.ae,アラブ首長国連邦,NaN,NaN,NaN,No,Yes,NaN
4,.af,アフガニスタン,NaN,NaN,NaN,Yes,Yes,NaN
5,.ag,アンティグア・バーブーダ,NaN,AGがドイツの株式会社(Aktiengesellschaft)の略称であることから、非公式に...,NaN,Yes,Yes,NaN
6,.ai,アンギラ,NaN,NaN,NaN,No,Yes,NaN
7,.al,アルバニア,NaN,かつては市民権が必要だったが、今は必要ない。,NaN,No,Yes,NaN
8,.am,アルメニア,NaN,非公式にAMラジオ局やWebラジオ局で使用されている。,No,Yes,Yes,Yes
9,.an,オランダ領アンティル,NaN,現地に在住・存在している必要がある。オランダ領アンティルは2010年10月10日に解体された。,NaN,No,Yes,NaN
10,.ao,アンゴラ,NaN,NaN,NaN,No,不明,NaN
11,.aq,南極,Antarctique,南極条約により南緯60度以南と定義されている。南極条約の調印国である政府組織と、南極大陸に実...,NaN,No,Yes,NaN
12,.ar,アルゼンチン,NaN,NaN,スペイン語[cctld 1],Yes,No,Yes
13,.as,アメリカ領サモア,NaN,非公式にスペインのアストゥリアス州関連のサイトも使用している。,Yes,No,Yes,NaN
14,.at,オーストリア,NaN,NaN,NaN,Yes,Yes,NaN
15,.au,オーストラリア,NaN,登録はオーストラリア人に限られ、最低2年間は登録を維持しなければならない[8]。アシュモア・...,NaN,Yes,No,NaN
16,.aw,アルバ,"Aruba, West Indies",アルバの企業・団体・市民に限る。,NaN,Yes,Yes,NaN
17,.ax,オーランド諸島,NaN,オーランドの企業・団体・市民に限る。,NaN,No,Yes,NaN
18,.az,アゼルバイジャン,NaN,NaN,NaN,No,Yes,NaN
19,.ba,ボスニア・ヘルツェゴビナ,NaN,NaN,NaN,No,Yes,NaN
20,.bb,バルバドス,NaN,NaN,NaN,No,Yes,NaN
21,.bd,バングラデシュ,NaN,NaN,Yes,No,Yes,NaN
22,.be,ベルギー,NaN,非公式にスイスのベルン州でも使用される。,ラテン文字[9],Yes,Yes,Yes[10]
23,.bf,ブルキナファソ,NaN,NaN,NaN,No,Yes,NaN
24,.bg,ブルガリア,NaN,NaN,ロシア語・ブルガリア語[9],Yes,Yes,NaN
25,.bh,バーレーン,NaN,NaN,NaN,No,Yes,NaN
26,.bi,ブルンジ,NaN,NaN,NaN,No,Yes,NaN
27,.bj,ベナン,NaN,NaN,NaN,No,Yes,NaN
28,.bm,バミューダ諸島,NaN,バミューダに登記のある団体・会社に限る。,NaN,No,Yes,NaN
29,.bn,ブルネイ,NaN,NaN,NaN,No,No,NaN
...,...,...,...,...,...,...,...,...
224,.tl,東ティモール,Timor-Leste,かつてのドメイン.tpは2015年に無効化された。,NaN,No,Yes,NaN
225,.tm,トルクメニスタン,NaN,NaN,Yes[cctld 24],Yes,Yes,NaN
226,.tn,チュニジア,NaN,NaN,NaN,Yes,Yes,NaN
227,.to,トンガ,NaN,BitTorrent関連、トリノ、トロント、東京、トカンティンス州などでも非公式に使用されている。,Yes,No,Yes,NaN
228,.tp,東ティモール,Timor Português,ISO国名コードがTLに変更されたため、.tlが新たに割り当てられた。.tpは2015年に無...,NaN,No,Yes,NaN
229,.tr,トルコ,NaN,北キプロスでは .nc.tr を使用している。,Yes[cctld 25],No,Yes,不明[32]
230,.tt,トリニダード・トバゴ,NaN,NaN,NaN,Yes,Yes,NaN
231,.tv,ツバル,NaN,テレビの略称として使われており、2000年にドメインの使用権がdotTV社（現在はベリサイン...,NaN,Yes,Yes,NaN
232,.tw,台湾,NaN,登録は世界に対して開かれており、国内の実体は必要ない。ISO 3166-1に従い「台湾」を表...,Yes[cctld 26],Yes,Yes,NaN
233,.tz,タンザニア,NaN,タンザニアに実体がある必要がある。,NaN,Yes,No,NaN
234,.ua,ウクライナ,Україна / Ukraina,ウクライナの商標が必要。,NaN,Yes,Yes,NaN
235,.ug,ウガンダ,NaN,NaN,NaN,Yes,Yes,NaN
236,.uk,イギリス,NaN,"ISO 3166-1で定義されたイギリスの国名コードは""GB""であるが、""UK""もイギリスの...",NaN,Yes,Yes,NaN
237,.us,アメリカ,NaN,アメリカ合衆国の市民・住民・団体およびアメリカ合衆国内に存在する外国の実体に限る。かつてはア...,NaN,Yes,Yes,NaN
238,.uy,ウルグアイ,NaN,セカンドレベルドメインは2012年7月10日に登録を開始した[34]。,NaN,Yes,Yes,NaN
239,.uz,ウズベキスタン,NaN,NaN,NaN,No,Yes,NaN
240,.va,バチカン市国,Vaticano,聖座（バチカン政府を含む）の公式サイトのみ。,NaN,No,No,NaN
241,.vc,セントビンセント・グレナディーン,NaN,NaN,NaN,部分的[21],Yes,NaN
242,.ve,ベネズエラ,NaN,NaN,NaN,No,No,NaN
243,.vg,イギリス領ヴァージン諸島,NaN,NaN,NaN,No,Yes,NaN
244,.vi,アメリカ領ヴァージン諸島,NaN,NaN,NaN,No,Yes,NaN
245,.vn,ベトナム,NaN,NaN,Yes[cctld 27],No,Yes,NaN
246,.vu,バヌアツ,NaN,NaN,NaN,Yes,Yes,NaN
247,.wf,ウォリス・フツナ,NaN,欧州連合・スイス・ノルウェー・アイスランド・リヒテンシュタインの個人・企業に限る[cctld...,Yes[cctld 12],Yes,Yes,NaN
248,.ws,サモア,Western Samoa (旧名),WSが web site の略ともなることから、世界中で使用されている。,Yes,Yes[35],Yes,NaN
249,.ye,イエメン,NaN,NaN,NaN,No,No,NaN
250,.yt,マヨット島,NaN,欧州連合・スイス・ノルウェー・アイスランド・リヒテンシュタインの個人・企業に限る[cctld...,Yes[cctld 12],Yes,Yes,NaN
251,.za,南アフリカ,Zuid-Afrika (オランダ語),NaN,NaN,No,No,NaN
252,.zm,ザンビア,NaN,NaN,NaN,Yes,Yes[cctld 28],NaN
253,.zw,ジンバブエ,NaN,NaN,NaN,No,No,NaN

In [6]:
df.to_csv("data/write_data.csv")

In [7]:
df.to_excel("data/write_data.xlsx")

In [8]:
df.to_pickle("data/write_df.pickle")

In [9]:
df = pd.read_pickle("data/write_df.pickle")