In [2]:
str(98.5)

'98.5'

In [4]:
str(1.0e4)

'10000.0'

In [6]:
str(True)

'True'

In [9]:
print('A man\n B man\t C man\n')

A man
 B man	 C man

In [14]:
aa = "abc " * 3
print (aa)

abc abc abc

In [18]:
print (aa[0])

a

In [20]:
letters = "0123456789"

In [24]:
letters[0:8:2]

'0246'

In [29]:
letters[8::-2]

'86420'

In [30]:
letters[-1::-1]

'9876543210'

In [32]:
len(letters)

10

In [40]:
todos = "hoge,fuga,page,mode"
todos.split(',')

['hoge', 'fuga', 'page', 'mode']

In [42]:
todos.split()

['hoge,fuga,page,mode']

In [48]:
todos = "a b c d"
todos.split(' ',2)

['a', 'b', 'c d']

In [52]:
todos_split = todos.split()
todos_split

['a', 'b', 'c', 'd']

In [56]:
'_'.join(todos_split)

'a_b_c_d'

In [96]:
poem = "All that doth flow we cannot liquid name Or else would fire and water be the same But that is liquid which is moist and wet Fire that property can never get. Then tis not cold that doth the fire put out But tis the wet that makes it die, no doubt."

In [81]:
len(poem)

247

In [65]:
poem.startswith('All')

True

In [69]:
poem[-10:]

' no doubt.'

In [82]:
poem.endswith("doubt.")

True

In [89]:
poem.find("liquid")

29

In [91]:
poem.rfind("liquid")

94

In [93]:
poem.count("liquid")

2

In [102]:
s = "abc"
s.isalpha()

True

In [104]:
n = "123"
n.isalnum()

True

In [105]:
setup = 'a duck goes into a bar...'

In [109]:
setup.capitalize()

'A duck goes into a bar...'

In [111]:
centense = 'i am a pen. you are the world. time is a coming.'

In [114]:
centense.title()

'I Am A Pen. You Are The World. Time Is A Coming.'

In [116]:
centense.lower()

'i am a pen. you are the world. time is a coming.'

In [118]:
centense.upper()

'I AM A PEN. YOU ARE THE WORLD. TIME IS A COMING.'

In [121]:
centense.title().swapcase()

'i aM a pEN. yOU aRE tHE wORLD. tIME iS a cOMING.'

In [128]:
centense.center(65)

'         i am a pen. you are the world. time is a coming.        '

In [133]:
centense.ljust(65)

'i am a pen. you are the world. time is a coming.                 '

In [135]:
centense.replace('pen','pencile')

'i am a pencile. you are the world. time is a coming.'

In [137]:
centense.replace('a','an',10)

'i anm an pen. you anre the world. time is an coming.'

In [139]:
empty_list = [ ]
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [141]:
another_empty_list =  list()

In [143]:
another_empty_list

[]

In [145]:
empty_list

[]

In [148]:
list(centense.title())

['I',
 ' ',
 'A',
 'm',
 ' ',
 'A',
 ' ',
 'P',
 'e',
 'n',
 '.',
 ' ',
 'Y',
 'o',
 'u',
 ' ',
 'A',
 'r',
 'e',
 ' ',
 'T',
 'h',
 'e',
 ' ',
 'W',
 'o',
 'r',
 'l',
 'd',
 '.',
 ' ',
 'T',
 'i',
 'm',
 'e',
 ' ',
 'I',
 's',
 ' ',
 'A',
 ' ',
 'C',
 'o',
 'm',
 'i',
 'n',
 'g',
 '.']

In [183]:
a_tuple = ('cat','dog','pig')

In [190]:
list_a = list(a_tuple)

TypeError: 'str' object is not callable

In [191]:
list_a = ['cat','dog','pig']

In [187]:
list_a.append('mouse')

In [171]:
for list in list_a:
    print(list[::-1])

tac
god
gip
esuom
esuom

In [223]:
list_b = ['apple','orange','graphe']

In [192]:
list_a.extend(list_b)

In [195]:
list_a

['cat', 'dog', 'pig', 'apple', 'orange', 'graphe']

In [198]:
list_c = ['cat','dog','pig']
list_c

['cat', 'dog', 'pig']

In [200]:
list_c.append(list_b)

In [208]:
list_b

['apple', 'orange', 'banana', 'banana', 'graphe']

In [224]:
list_b.insert(2,'banana')

In [225]:
list_b

['apple', 'orange', 'banana', 'graphe']

In [221]:
list_b.remove('orange')

ValueError: list.remove(x): x not in list

In [263]:
list_b =['apple','banana','orange','graphe']

In [238]:
list_b.index('orange')

2

In [242]:
'orange' in list_b

True

In [247]:
list_b.sort(reverse=True)

In [250]:
len(list_b)

4

In [255]:
list_c = list_b

In [273]:
list_c

['orange', 'graphe', 'banana', 'apple']

In [267]:
list_b.sort(reverse=True)

In [268]:
list_b

['orange', 'graphe', 'banana', 'apple']

In [274]:
list_c

['orange', 'graphe', 'banana', 'apple']

In [276]:
list_c[1] = 'pineapple'

In [278]:
list_c

['orange', 'pineapple', 'banana', 'apple']

In [281]:
a = [1,2,3]
b = a.copy()
c = list(a)

TypeError: 'str' object is not callable

In [349]:
books = [["titleA","author1"],["titleB","author2"],["titleC","author3"]]

In [350]:
books1 = dict(books)

In [291]:
dict(books)['titleB']

'author2'

In [296]:
los = ['ab','cd','ef']
dict(los)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [298]:
books

[['titleA', 'author1'], ['titleB', 'author2'], ['titleC', 'author3']]

In [351]:
books1['titleD'] = 'author4'

In [352]:
books1

{'titleA': 'author1',
 'titleB': 'author2',
 'titleC': 'author3',
 'titleD': 'author4'}

In [308]:
books1['titleC'] = 'author33'

In [338]:
books2 = {}
books2['titleE'] = 'author6'
books2['titleF'] = 'author7'
books2['titleD'] = 'yamada'

In [353]:
books2

{'titleE': 'author6', 'titleF': 'author7', 'titleD': 'yamada'}

In [354]:
books1.update(books2)

In [355]:
books1

{'titleA': 'author1',
 'titleB': 'author2',
 'titleC': 'author3',
 'titleD': 'yamada',
 'titleE': 'author6',
 'titleF': 'author7'}

In [332]:
del books1['titleF']

KeyError: 'titleF'

In [342]:
books1.clear()

In [356]:
'titleA' in books1

True

In [357]:
books1

{'titleA': 'author1',
 'titleB': 'author2',
 'titleC': 'author3',
 'titleD': 'yamada',
 'titleE': 'author6',
 'titleF': 'author7'}

In [360]:
books1.get('titleG','tanaka')

'tanaka'

In [364]:
books1.values()

dict_values(['author1', 'author2', 'author3', 'yamada', 'author6', 'author7'])

In [366]:
list(books1.values())

TypeError: 'str' object is not callable

In [368]:
set('letters')

{'e', 'l', 'r', 's', 't'}

In [371]:
for i in set('letters'):
    print(i)

r
l
e
t
s

In [374]:
a = {1,2}
b = {2,3}

In [376]:
a | b

{1, 2, 3}

In [378]:
a & b

{2}

In [380]:
a - b

{1}

In [382]:
b - a

{3}

In [384]:
a^b

{1, 3}

In [386]:
c = {1}

In [388]:
c <= a

True